<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Halls</title>

    <link href="/webjars/bulma/0.6.0/css/bulma.css" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script>

    </script>
</head>
<body>
<section class="section">
    <div class="container">
      <div class="content">
        <nav class="panel">
          <p class="panel-heading">
            {{questions.question}}
          </p>
          {{#questions.items}}
          <a class="panel-block">
            <span class="panel-icon">
              <i class="fa"></i>
            </span>
            {{content}}
          </a>
          {{/questions.items}}
        </nav>
      </div>
    </div>
</section>

</body>
</html>