<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Halls</title>

    <link href="/webjars/bulma/0.6.0/css/bulma.css" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script>

    </script>
</head>
<body>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <i class="fa fa-bolt" aria-hidden="true"></i>&nbsp;Question
            </h1>
        </div>
    </div>
</section>

</body>
</html>